# NEXT_PUBLIC_RECAPTCHA_SITE_KEY = 6LdHu9YZAAAAACj4NGJ-ErRfdNCeXMgb1Yf25CUZ
# NEXT_PUBLIC_RECAPTCHA_SITE_KEY = 6Lc8HpsrAAAAAKwMRWPeF2OhBb1-d8tVyhsMJOt3
NEXT_PUBLIC_RECAPTCHA_SITE_KEY = 6LdfPZwrAAAAAG9v4n3weQLAf0LuLlg3UvDv5dYd
NEXT_PUBLIC_API_URL = http://localhost:5000/api
NEXT_PUBLIC_ADMIN_API_URL = http://localhost:5000/admin
NEXT_PUBLIC_IMAGE_URL = http://localhost:5000/product/
NEXT_PUBLIC_CATEGORY_IMAGE_URL = http://localhost:5000/category/
NEXT_PUBLIC_LATEST_IMAGE_URL = http://localhost:5000/latest-offers/
NEXT_PUBLIC_GOOGLE_PLAY_STORE_URL=https://play.google.com/store/apps/details?id=com.eliteextra
NEXT_PUBLIC_APP_STORE_URL=https://apps.apple.com/us/app/elite-extra-rewards/id698157203
GENERATE_SOURCEMAP=false
